// @use "../../scss/functions" as functions;
// @use "../../scss/variables" as variables;

// .page-finalizar-servico {
//   height: 100vh;
//   /* background-color: #333; */
//   flex-direction: column;
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   overflow: hidden;

//   button {
//     width: 80px;
//     height: 80px;
//     border-radius: 100%;
//     position: absolute;
//     top: 75%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }

//   button:before {
//     content: "";
//     width: 80%;
//     height: 80%;
//     border-radius: 100%;
//     position: absolute;
//     border: 10px solid #000;
//     opacity: .8;
//   }

//   video,
//   img {
//     top: 0;
//     left: 0;
//     position: absolute;
//     height: 100vh;
//   }

//   img {
//     width: 200px;
//     height: 200px;
//   }

//   .hidden {
//     display: none;
//   }

//   .list-photos {
//     display: flex;
//     flex-direction: column;
//     gap: functions.toRem(10);
//     margin-top: functions.toRem(20)
//   }

//   .list-photos__item {
//     display: flex;
//     padding: functions.toRem(10) 0;
//     border: 1px solid variables.$backgroundTertiary;
//     border-radius: 4px;
//   }
// }

.controlls {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px
}