@use "../../../scss/functions" as functions;
@use "../../../scss/variables" as variables;

.list-servicos {
  display: flex;
  flex-direction: column;
  gap: functions.toRem(10);
}

.card-servico {
  border: 1px solid variables.$backgroundLightAccent;
  margin-bottom: functions.toRem(20);
  width: 100%;
  box-shadow: 1px 1px 6px 1px variables.$backgroundLightAccent;
  border-radius: functions.toRem(10);
}

.card-servico__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  >header {
    height: 130px;
    background: variables.$backgroundAccent;
    padding: functions.toRem(16) 0;
    position: relative;

    .btn-detail {
      position: absolute;
      background: transparent;
      border: 0;
      top: 10px;
      right: 14px;
      color: variables.$contentInversePrimary;
      font-size: functions.toRem(22);
    }

    .status {
      display: flex;
      flex-direction: column;
      justify-content: end;

      p {
        text-transform: capitalize;
        background: variables.$backgroundOverlayDark;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 120px;
        padding: functions.toRem(2) 0;
      }
    }
  }

  >article {
    padding: functions.toRem(10) 0;
  }

  footer {
    padding: functions.toRem(20) 0;
    .row {
      flex-direction: column;
    }
    .action {
      align-self: flex-end;
    }
  }

  .label {
    p:first-of-type {
      font-size: functions.toRem(14);
      margin-bottom: functions.toRem(4);
      color: variables.$contentTertiary;
    }

    p:last-of-type {
      color: variables.$contentSecondary;
      text-transform: capitalize;
    }
  }
}